<%- include('../includes/header.ejs')%>
  <link rel="stylesheet" href="/css/auth/auth.css">
  <script src="/js/jquery.js"></script>
</head>
<body>
  <div class="wrapper utopia-login">
    <div class="left">
      <h3>Utopia</h3>
      <img src="/images/auth.png" alt="Rocket_image" />
    </div>
    <div class="right">
      <div class="tabs">
        <ul>
          <li class="register_li">Register</li>
          <li class="login_li">login</li>
        </ul>
      </div>

      <div class="register">
        <form action="/auth/register" method="post">
          <div class="input_field">
            <input type="email" required placeholder="E-mail" name="email" class="input" />
          </div>
          <div class="input_field">
            <label for="sellerRadio" style="margin-right: 20px;">
              <input 
                id="sellerRadio" 
                style="vertical-align: middle;" 
                type="radio" required name="type" value="1" /> Seller
            </label>
            <label for="customerRadio">
              <input 
                id="customerRadio" 
                style="vertical-align: middle;" 
                type="radio" required checked name="type" value="2" /> Customer
            </label>
          </div>
          <div class="input_field">
            <input type="password" required placeholder="Password" name="password" class="input" />
          </div>
          <div class="input_field">
            <input
              type="password"
              name="confirm_password"
              placeholder="Confirm-Password"
              class="input"
              required
            />
          </div>
          <button class="btn">
            <span>Register</span>
          </button>
        </form>
      </div>

      <div class="login">
        <form action="/auth/login" method="post">
          <div class="input_field">
            <input type="email" name="email" placeholder="E-mail" class="input" required />
          </div>
          <div class="input_field">
            <input type="password" name="password" placeholder="Password" class="input" required />
          </div>
          <button class="btn"><span>Login</span></button>
        </form>
      </div>
    </div>
  </div>
  <script>
    $(".login").hide();

    $(".login_li").click(function () {
      $(this).addClass("active");
      $(".register_li").removeClass("active");
      $(".login").show();
      $(".register").hide();
    });

    $(".register_li").click(function () {
      $(this).addClass("active");
      $(".login_li").removeClass("active");
      $(".register").show();
      $(".login").hide();
    });

    const isError = JSON.parse("<%=isError %>");
    if(isError){
      const errorMsg = "<%=errorMsg %>";
      if(errorMsg){
        alert(errorMsg);
      }
    }

    const isRegister = JSON.parse("<%=isRegister %>");
    if(isRegister){
      $(".register_li").trigger('click');
    }
    else{
      $(".login_li").trigger('click');
    }
  </script>
</body>
</html>