    <link rel="stylesheet" href="/css/footer.css">
    <footer class="section-p1">
      <div class="col">
        <img class="logo" src="/images/footerlogo.png" alt="" />
        <h4>Contact</h4>
        <p><strong>Address: </strong> +91 2222 365 /(+91) 01 2345 6789</p>
        <p><strong>Hours: </strong> 10:00 - 18:00, Mon - Sat</p>
        <div class="follow">
          <h4>Follow us</h4>
          <div class="icon">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-youtube"></i>
          </div>
        </div>
      </div>

      <div class="col">
        <h4>About</h4>
        <a href="/about">About us</a>
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/terms-conditions">Terms & Condition</a>
        <a href="/contact">Contact us</a>
      </div>

      <div class="col">
        <h4>My Account</h4>
        <% if(!user) { %>
          <a href="/auth">Sign in</a>
        <% } %>
        <% if(user && !user.isAdmin) { %>
          <a href="/cart">View Cart</a>
          <a href="/wishlist">My Wishlist</a>
        <% } %>
        <a href="/help">Help</a>
      </div>

      <div class="col install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
          <img src="/images/pay/app.jpg" alt="" />
          <img src="/images/pay/play.jpg" alt="" />
        </div>
        <p>Secued Payment Gateways</p>
        <img src="/images/pay/pay.png" alt="" />
      </div>

      <div class="copyright">
        <p>Copyright @ 2022, Utopia, All Rights Reserved</p>
      </div>
    </footer>
  </body>
</html>