<section id="header">
  <a href="#"><img src="/images/logo.png" alt="" /></a>
  <div>
    <ul id="navbar">
      <li>
        <a class="<%= path === '/' ? 'active' : '' %>" href="">Home</a>
      </li>
      <li><a href="">Shop</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">About</a></li>
      <% if(!isLogin) { %>
      <li><a href="/auth">Login / Register</a></li>
      <% } else { %>
      <li>
        <form action="/auth/logout" method="post">
          <button>Logout</button>
        </form>
      </li>
      <% } %>
      <li>
        <a href=""><i class="fas fa-shopping-cart"></i></a>
      </li>
    </ul>
  </div>
</section>
