<%- include('./includes/header.ejs')%>
  <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
  <%- include('./includes/navigation.ejs')%>
  <section id="page-header">
    <h2>#ReadMore</h2>
    <p>Read all case studies about our product!</p>
  </section>

  <section id="contact-details" class="section-p1">
    <div class="details">
      <span>GET IN TOUCH</span>
      <h2>Visit one of our agency locations or contact us today</h2>
      <h3>Head Office</h3>
      <div>
        <li>
          <i class="far fa-map"></i>
          <p>93, Maidan Garhi Rd, Maidan Garhi, New Delhi, Delhi 110068</p>
        </li>
        <li>
          <i class="far fa-envelope"></i>
          <p>contact@example.com</p>
        </li>
        <li>
          <i class="fas fa-phone-alt"></i>
          <p>contact@example.com</p>
        </li>
        <li>
          <i class="far fa-clock"></i>
          <p>Monday to Saturday:9.00am to 16.pm</p>
        </li>
      </div>
    </div>

    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3506.2384546802996!2d77.1942869269418!3d28.50247262639709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce1de5ee6fbed%3A0x17e4392a594a1e19!2sIndira%20Gandhi%20National%20Open%20University%20-%20Head%20Office!5e0!3m2!1sen!2sin!4v1653046931147!5m2!1sen!2sin"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </section>


<%- include('./includes/footer.ejs')%>  