<%- include('../includes/header.ejs')%>
  <!-- <link rel="stylesheet" href="/css/products/add.css"> -->
</head>
<body>
  <%- include('../includes/navigation.ejs')%>
  <h3><%=products.length%></h3>
  
<%- include('../includes/footer.ejs')%>