#product-detail {
  padding: 40px 60px;
  display: flex;
  width: 100%;
  margin: 30px 0;
}

#product-detail .single-prod-image {
  width: 40%;
  margin-right: 50px;
  transition: all 0.2s ease-in-out;
}

#product-detail .single-prod-image:hover {
  transform: scale(1.085);
}

#product-detail .single-prod-detail {
  width: 50%;
  padding-top: 30px;
}

#product-detail .single-prod-detail h4 {
  padding: 40px 0 20px 0;
}

#product-detail .single-prod-detail h2 {
  font-size: 26px;
}

#product-detail .single-prod-detail button {
  background: #088178;
  color: white;
  padding: 10px;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

#product-detail .single-prod-detail span {
  line-height: 30px;
}
